/* * {
  outline: 2px solid red;
} */
@font-face {
    font-family: viceCity;
    src: url(photos/rage\ italic.ttf);
}
html{
    background-image: url("photos/vice_city_stories_by_lasercrome_d2k552z.jpg");
    margin: 0;
    height: 100%;
    background-size: contain;
}   
.header{
    font-family: viceCity;
    text-align: center;
    font-size: 70px;
    color: #fb19a8;
}
.size{
    text-align: center;
    font-size: large;
    padding: 10px;
}
.container{
    display: flex;
    height: 100%;
}
.options{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 150px;
    gap: 30px;
}
button{
    font-size: 35px;
    font-family: viceCity;
    background-color: rgba(2, 2, 2, 0)
}
.pad{
    width: 72%;    
    display: flex;
    justify-content: center;
}
#sketch{
    display:flex;
    min-width: 560px;
    min-height:560px;
    flex-direction: column;
}